<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SOCIALS - Create Profile </title>
    <link rel = "icon" href = "./assets/title-icon-transparent.png" type = "image/x-icon">
    <link rel="stylesheet" href="./styles/navigationbar.css">
    <link rel="stylesheet" href="./styles/profilecreate.css">
    <link rel="stylesheet" href="./styles/footer.css">
</head>
<body>
    
    <nav>
        <div class="nav-left">
                <img class="nav-logo" src="./assets/socials-logo-nav-white.png">
                <!-- <ul>
        <li><img src="./assets/inbox.png"></li>
                <li><img src="./assets/notification.png"></li>
            </ul> -->
        </div>

        <div class="nav-right">

            <div class="search-box">
                    <img src="./assets/search.png">
                    <input type="text" placeholder="Search">
            </div>

            <!-- <div class="user-icon online" onclick="settingsMenuToggle()">
                <img src="./assets/profile-picture-2.jpg">
            </div> -->
        </div>


<!-- ---------settings-menu--------- -->
        <!-- <div class="settings-menu">
            <div class="settings-menu-inner">
                <div class="s-user-icon">
                    <img src="./assets/profile-picture-2.jpg">
                    <div>
                        <p>Robert Stark</p>
                        <a href="./profilemain.html">See your profile</a>
                    </div>
                </div>
                <hr>

                <div class="settings-links">
                    <img src="./assets/activity.png" class="settings-icon">
                    <a href="#">Check Your Activity <img src="./assets/right-arrow.png" width="10px"></a>
                </div>

                <div class="settings-links">
                    <img src="./assets/settings.png" class="settings-icon">
                    <a href="./profileupdate.html">Update Your Profile <img src="./assets/right-arrow.png" width="10px"></a>
                </div>

                <div class="settings-links">
                    <img src="./assets/logout.png" class="settings-icon">
                    <a href="#">Logout <img src="./assets/right-arrow.png" width="10px"></a>
                </div>


            </div>
           
        </div> -->
    </nav>



    <!-- ----profile-update----- -->

    <div class="profile-create">
        <form action="/profile/:id" method="put">
        <div class="profile-picture-create">
            <img src="./assets/default-profile-picture.jpg">
        </div>
        <div class="upload-picture-link">
            <input type="file" name="filename">
        </div>
            
        

        <div class="profile-info-create">
            <ul>
                <li>
                    <label for="username">Username</label>
                    <input type="text" placeholder="Username" title="Username" name="username" id="username">
                </li>
                
                <li>
                    
                    <input type="text" name="location" placeholder="Location" title="Location">
                </li>
                <li>
                    
                    <input type="text" name="occupation" placeholder="Occupation" title="Occupation">
                </li>
            </ul>
        </div>
        <div class="profile-create-button">
            <button type="button"><input type="submit" value="Create"></button>
        </div>
    </form>
    </div>



     <!-- -----footer----- -->
	<footer>
        <hr class="footerdivider">
        <div class="foot-links">
            <a href="#" class="footext"> SERVICES</a>
            <a href="#" class="footext">PRIVACY POLICY</a>
            <a href="#" class="footext">TERMS</a>
            <a href="#" class="footext">HELP</a>
            <a href="#" class="footext">CONTACT US</a>
        </div>
        <div class="copy">
            <p class="copyright">
                SOCIALS &copy; 2023 .
            </p>
        </div>
    </footer>


    <script src="settingsscript.js"></script>
</body>
</html>