<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SOCIALS </title>
    <link rel = "icon" href = "../public/Assets/s.jpg"
        type = "image/x-icon">
        <!--css-->
        <link rel="stylesheet" href="/css/signstyle.css">
        
    </head>

<body>
    <div class="signin">
        <div class="title">
            <img src="/Assets/logo.jpg" alt="" class="heading1">
            <img src="/Assets/logo-big.jpg" alt="" class="heading2">
        </div>
        <!--SignIn-->
        <!-- <div class="form" id="sign">
            <p class="back">WELCOME BACK!</p>
            <form action="" method="post" class="input">
                <input type="text" name="email"  placeholder="email address " class="box">
                <div class="password">
                    <input type="password" name="password" placeholder="Password" class="box" id="pass">
                    <img src="/Assets/eye.jpg" alt="" class="eye" id="eye-icon">
                </div>
                
            </form>
            <div class="btndiv">
                <button class="login btn">
                    Log In
                </button>
            </div>
            <a href="#" class="forgotten"> Forgotten Password?</a> -->
            <!-- <hr class="divide" >
            <div class="alternative">
                <p class="dont">Dont have an account?
                </p>
                <button class=" btn " id="SUp">
                    Sign Up
                </button>
            </div>
        </div> -->
        <!--SignUp-->
        <div class="form" id="register">
            <p class="welcome">WELCOME!</p>
            <form action="/" method="post" class="input">
                <input type="text" class="box" placeholder="Full Name" name="name">
                <input type="email" class="box" placeholder="Email" name="email">
                <input type="number" placeholder="Mobile number " class="box" name="contact">
                <div class="password">
                    <input type="password" name="password" placeholder="Password" class="box" id="pass">
                    <img src="/Assets/eye.jpg" alt="" class="eye" id="eye-icon">
                </div>
            
                <div class="gender-div">
                    <label for="gtext">Gender</label>
                    <div class="male">
                        <input type="radio" class=" gender"  name="Male" value="Male"> Male
                    </div>
                    <div class="female">
                        <input type="radio" class=" gender" name="Female" value="Female">Female 
                    </div>
                </div>
                <div>
                    <button class="login btn">
                        <input type="submit" value="Create new Account">
                    </button>
                </form>
            </div>
            <hr class="divider" >
            <div class="alternative">
                <p class="dont">Already have a account?
                </p>
                <button class=" btn" id="SIn">
                   <a href="/signin"> Sign In</a>
                </button>
            </div>
        </div>
    </div>
    
    <footer>
        <hr class="footerdivider">
        <div class="foot-links">
            <a href="#" class="footext"> SERVICES</a>
            <a href="#" class="footext">PRIVACY POLICY</a>
            <a href="#" class="footext">TERMS</a>
            <a href="#" class="footext">HELP</a>
            <a href="#" class="footext">CONTACT US</a>
        </div>
        <div class="copy">
            <p class="copyright">
                SOCIALS &copy; 2023 .
            </p>
        </div>
    </footer>
    
    <!--js-->
    <script src="javascript/sign.js"></script>
    
</body>
</html>